<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3DFilpAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>810DC4191CCB323400A1BC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810DC4321CCB323400A1BC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810DC43D1CCB323400A1BC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
